*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0F172A;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#111827;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#3B82F6;
}

ul{
    display:flex;
    list-style:none;
}

ul li{
    margin-left:20px;
}

ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:30px;
}

button{
    padding:12px 25px;
    border:none;
    background:#3B82F6;
    color:white;
    cursor:pointer;
    border-radius:8px;
}

.features{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:50px;
}

.card{
    width:300px;
    background:#1E293B;
    padding:25px;
    border-radius:12px;
}
